@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;200&family=Titillium+Web:wght@300&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

html{

    scroll-behavior: smooth;
}

body{

    display:flex;
    flex-direction: column;
    justify-content:space-around;
    background:#0d1117 url("./resources/pexels-francesco-ungaro-396547.jpg") ;
    background-size: cover;
    background-repeat:repeat;
    width:100%;
}
h1
{
    margin:auto;
    font-size:15vh;
    font-weight:900;
    margin-left: 9vh;
    margin-top:5vh;
    color:#ffffff;
}

.carousel-container
{
    margin:auto;
    width:150vh;
    height:75vh;
    overflow: hidden;
}
.carousel-img
{   
    width:150vh;
    height:75vh;

}
.carousel-it
{
    border-radius: 5vh;
}
.photos
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:auto;
    margin-top:20vh;
    margin-bottom: 10vh;
    height:50vh;
    width:90%;
    
}
.img-items
{
    display: flex;
    justify-content: center;
    /* width:40vh; */
    height:40vh;
    border-radius: 3vh 3vh;
    margin:2vh;
}
.img-items img{

    width:100%;
    height:100%;
    margin:5vh;
    border-radius: 2vh;
    background-size: contain;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.photos:hover .img-items:not(:hover)
{
    transform: scale(70%);
    filter:brightness(.3);
    transition: 1.5s;
}
.photos:hover .img-items:nth-child(odd) :hover
{
    transform: scale(100%);
    transition: 1.5s;
    transform: rotateZ(4deg);
}
.photos:hover .img-items:nth-child(even) :hover
{
    transform: scale(200%);
    transition: 1.5s;
    transform: rotateZ(-4deg);
}

footer{
    font-size: 2vh;
    margin:8vh;
    color:#ffffff65;
}